[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "thirdparty/cereal"]
	path = thirdparty/cereal
	url = https://github.com/USCiLab/cereal
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
